
.split{
    width: 50%;
    position: fixed;
}
.addtaskArea{
    top: 0%;
    color:white;
}

.displaytask{
    top: 20%;
    height: 33%;
    color:white;
    overflow-y: scroll;
}

.displaycompleted{
    top: 55%;
    height: 33%;
    color: white;
    overflow-y: scroll;
}

.singleTask{
    height: 50px;
    color: white;
}

#checkbox:checked + label{
    color: red;
}

.singleTask:hover{
    background-color: pink;
}